In [6]:
import pandas as pd
print(pd.__version__)

2.2.3

In [5]:
data = {
    "name": ['rohim', 'korim', 'jabbae'],
    "age": [10,20,30],
    "city": ['dhaka', 'cumilla', 'sylhet']
    }

df = pd.DataFrame(data)
df

     name  age     city
0   rohim   10    dhaka
1   korim   20  cumilla
2  jabbae   30   sylhet

In [ ]:
df.head(3) #first theke koyta data nibo
df.tail(2) #last theke koyta data nibo
df.sample() # a randmon row
df.shape #find the shape of the data
df.columns #get the list of the column

Index(['name', 'age', 'city'], dtype='object')